@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(168, 5, 5);
    color: white;
    text-align: center;
}

.button-container {
	text-align: center;
	margin: 20px;
}

.styled-button {
    border-radius: 20px;

    background-color: rgb(168, 5, 5);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}

h1 {
	text-align: center;
}
